body {
    background-color: gray;
}
.top {
    background-color: white;
}
.inner {
    width: 50%;
    margin: auto;
    height: 120px;
    padding-top: 20px; 
}
.Parent-box {
    background-color: antiquewhite;
}
.kid1 {
    width: 50%;
    margin: auto;
    height: 120px;
}